.select-folder-container {
  display: flex;
  align-items: center;
}

.path-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 630px;
  margin-left: 10px;
}

.options {
  margin-top: 15px;
}

.input-container {
  display: flex;
  margin: auto;
  width: 80%;
}
