/* Container */
.container {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 100%;
  /* background-color: #e8e8e8; */
}

/* Icon */
.icon-container {
  cursor: pointer;
  text-align: center;
  padding: 4px 0 4px 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

/* .icon-container:hover {
  border-color: inherit;
  border-left: 3px solid;
  padding-right: 3px;
} */

.icon-container:hover .icon {
  transform: scale(1.1);
}

.icon {
  cursor: pointer;
  margin: 10px 0 10px 0px;
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}

/* Active link */
.is-active {
  border-left: 3px solid;
  padding-right: 3px;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
}
.ripple:active {
  background-color: #fafafa;
  background-size: 100%;
  transition: background 0s;
}
